:root{
  /* Background */
--bg-color: #F5F7FB;

/* Main Card & Form */
--card-color: #FFFFFF;
--form-color: #FFFFFF;

/* Text */
--text-primary: #1F2937;
--text-secondary: #6B7280;

/* Border */
--border-color: #E5E7EB;
/* close button*/
--close: #EF4444;
--close-hover: #DC2626;
/*primary color*/
--primary-hover: #1D4ED8;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.form-container{
  /*display: none;*/
  position: absolute;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: var(--form-color);
  border: 2px solid var(--border-color);
  padding: 20px;
  border-radius: 12px;
  color: var(--text-primary);
}
form{
  height: 100%;
  width: 100%;
}
.form-container h2{
  font-weight: 700;
  font-size: 44px;
  font-family: Sans-Serif;
  margin-bottom: 18px;
}
.inp{
  width: 100%;
  height: 35px;
  font-size: 16px;
  padding: 2px 8px;
  border-radius: 12px;
  color: #111;
  border: 1px solid var(--border-color);
}
.form-btn{
  width: 100%;
  height: 35px;
  padding: 2px 4px;
  font-size: 1.3rem;
  border-radius: 12px;
  border: 1px solid rgba(1,1,1,0.8);
  font-weight: 500;
}
#creatBtn{
  background-color: var(--border-color);
  color: #111;
}
#closeBtn{
  background-color: var(--close);
  color: #ffffff;
}
label{
  font-weight: bold;
  
}
#emergency{
  color: #fdba74;
}
#urgent{
  color: #c5b5fd;
}
#important{
  color: #111;
}
#no-rush{
  color: #86efac;
}




.note-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  min-height: 350px;
  height: auto;
  gap: 40px;
  padding: 8px 16px;
  background-color: var(--card-color);
  border-radius: 18px;
}
.left-icons{
  display: flex;
  flex-direction: column;
  width: 76px;
  border-radius: 40px;
  gap: 24px;
  background-color: rgba(200,200,200,0.1);
  border: 1px solid rgba(0,0,0,0.3);
  padding: 16px;
  margin-top: 16px;
}
.addBtn{
  border: 1px solid #ddd6fe;
  border-radius: 50%;
  padding: 8px;
  background-color: #f3f0ff;
}
#upBtn{
  border: 1px solid #ddd6fe;
  border-radius: 50%;
  padding: 8px;
  background-color: #f3f0ff;
}
#downBtn{
  border: 1px solid #ddd6fe;
  border-radius: 50%;
  padding: 8px;
  background-color: #f3f0ff;
}

.stack{
  flex: 1;
  height: 85%;
  margin: 10px;
}
.cards{
  border: 1px solid #222;
  background-color: var(--card-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
  border-radius: 4px 4px 16px 16px;
  z-index: 1;
}
.cards img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: var(--text-primary);
  
}
.cards h2{
  font-weight: bolder;
  font-size: 26px;
  margin-bottom: 16px;
} 
.info{
  font-size: 19px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  font-family: inter, Sans-Serif;
}
.action-btn{
  display: flex;
  width: 100%;
  font-family: Inter, Sans-Serif;
  flex-direction: column;
}
.action{
  width: 100%;
  height: 34px;
  padding: 4px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  font-size: 16px;
  font-weight: 700;
}
#callBtn{
  margin-top: 20px;
  background-color: #2563eb;
  color: #ffffff;
  border: 1px solid #e5e7eb;
}
#msgBtn{
  background-color: #ffffff;
  color: #222;
}
.right-colors{
  height: 200px;
  width: 40px;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.color{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#purple{
  background-color: #c4b5fd;
}
#orange{
  background-color: #fdba74;
}
#green{
  background-color: #86efac;
}
#black{
  background-color: #111111;
}
